* {
  box-sizing: border-box;
}

#testButtons p {
  font-weight: bold;
  color: blueviolet;
}

#cTextArea {
  text-align: center;
  position: absolute;
  caret-color: transparent;
  z-index: 0;
  padding: 0px;
  border-radius: 0px;
}

[id*="cell"] {
  text-align: center;
  position: absolute;
  caret-color: transparent;
  z-index: 3;
  pointer-events: none;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

input,
textarea {
  cursor: pointer;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.bigRow {
  position: relative;
}

.rightColumn {
  position: relative;
}

.rightColumnContents div button {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.rightColumnContents button {
  font-family: "Source Sans Pro";
}

.leftColumn {
  position: relative;
  height: 364px;
}

#devColumn {
  height: 240px;
  padding-top: 0px;
  margin-top: 0px;
  padding-left: 15px;
}
#devColumn button {
  display: block;
  width: 180px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-transform: capitalize;
  text-align: center;
  position: relative;
}

#devColumn .testBtns {
  position: relative;
  left: 100px;
}

#devColumn p {
  position: relative;
  left: 100px;
  background-color: aqua;
  margin-bottom: 2px;
  padding: 0px;
  width: 100px;
  margin-left: 38px;
  text-align: center;
  text-transform: capitalize;
  left: 0px;
}

#rightColumnContents {
  position: relative;
  left: 75px;
  display: none;
}

[class*="col-"] {
  float: left;
  /* padding: 15px; */
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

#rightColumnContentsAndroid {
  display: contents;
}

#rightColumnContentsAndroid button {
  text-align: center;
}

@media only screen and (min-width: 858px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

button {
  background: white;
}

button:hover {
  background: rgb(228, 222, 222);
}

/* 768*/
@media only screen and (min-width: 858px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }

  #leftColumnContents {
    position: fixed;
    left: 250px;
  }

  #rightColumnContents {
    position: relative;
    left: 0px;
    display: contents;
  }

  #devColumn div {
    left: 0px;
  }

  #devColumn {
    top: -40px;
  }

  #devColumn .testBtns {
    position: relative;
    left: 0px;
  }

  #devColumn button {
    text-align: left;
  }

  #rightColumnContentsAndroid {
    display: none;
  }
}
