<div class="row bigRow">
  <div id="devColumn" class="col-2 col-s-2 devColumn">
    <div id="devBar" devBar *ngIf="board.devModeOn">
      <div id="testButtons">
        <p>test aid</p>
        <button type="button" (click)="scanForErrors()">
          {{ scanButtonName }}
        </button>
        <button type="button" (click)="togglePathHighlight()">
          {{ userPref.highlightPath_name }}
        </button>
        <button type="button" (click)="toggleSplitBoard()">
          {{ splitBtnName }}
        </button>
        <button type="button" (click)="solveSudoku(board.live, 9)">
          Solve
        </button>
        <button type="button" (click)="classic_colors()">Classic colors</button>
        <button type="button" (click)="toggle_boardPresetInputs_isDisabled()">
          toggle disabled
        </button>
        <button type="button" (click)="toggle_isShowDisabledAsBold()">
          unbold/bold readonly
        </button>
        <button type="button" (click)="saveSudokuButton()">
          save sudoku
        </button>
        <button type="button" (click)="printSudoku()">
          print sudoku
        </button>
        <button type="button" (click)="parseSudoku()">
          parse sudoku
        </button>
        <button type="button" (click)="board.fetchSudoku()">
          fetch new sudoku
        </button>
      </div>
    </div>
  </div>
  <div class="col-6 col-s-6 leftColumn" id="dd">
    <a class="container leftColumnContents" id="leftColumnContents">
      <div *ngFor="let rows of board.live; let ro = index" id="rowBoard">
        <a
          class="containter"
          id="container"
          *ngFor="let cols of board.live; let co = index"
        >
          <textarea
            cellInput
            id="cTextArea"
            type="text"
            maxlength="1"
            [disabled]="isDisabled(ro, co)"
            [style.background]="board.live[ro][co].bgColor"
            (mouseover)="mouseOver(ro, co)"
            (mouseleave)="mouseLeave(ro, co)"
            [style.color]="board.live[ro][co].fontColor"
            (input)="onType($event, ro, co)"
            (click)="onClick_cell(ro, co)"
            [style.left]="co * cpx + 'px'"
            [style.top]="ro * cpx + 'px'"
            [style.border-width]="'1px'"
            [style.width]="cpx + 'px'"
            [style.height]="cpx + 'px'"
            [style.border-left]="styleLeftBorder(co)"
            [style.border-right]="styleRightBorder(co)"
            [style.border-top]="styleTopBorder(ro)"
            [style.border-bottom]="styleBottomBorder(ro)"
            [style.font-size]="cpx / 2 + 'px'"
            [style.font-weight]="
              board.start[ro][co].num != null && userPref.isShowDisabledAsBald
                ? 'bold'
                : 'normal'
            "
          ></textarea>
          <input
            id="cell {{ ro }}, {{ co }}"
            type="text"
            maxlength="1"
            [disabled]="isDisabled(ro, co)"
            [style.background]="board.live[ro][co].bgColor"
            (mouseover)="mouseOver(ro, co)"
            (mouseleave)="mouseLeave(ro, co)"
            [style.color]="board.live[ro][co].fontColor"
            (input)="onType($event, ro, co)"
            (click)="onClick_cell(ro, co)"
            [(ngModel)]="board.live[ro][co].num"
            [style.left]="co * cpx + 'px'"
            [style.top]="ro * cpx + 'px'"
            [style.padding]="'0px'"
            [style.border-width]="'1px'"
            [style.width]="cpx + 'px'"
            [style.height]="cpx + 'px'"
            [style.border-left]="styleLeftBorder(co)"
            [style.border-right]="styleRightBorder(co)"
            [style.border-top]="styleTopBorder(ro)"
            [style.border-bottom]="styleBottomBorder(ro)"
            [style.border-radius]="'0px'"
            [style.font-size]="cpx / 2 + 'px'"
            [style.font-weight]="
              board.start[ro][co].num != null && userPref.isShowDisabledAsBald
                ? 'bold'
                : 'normal'
            "
          />
          <textarea
            style="position: absolute; z-index: 4; overflow: hidden;"
            type="text"
            [style.left]="co * cpx + 'px'"
            [style.top]="ro * cpx + 'px'"
            [style.background]="board.live[ro][co].bgColor"
            [style.border-left]="styleLeftBorder(co)"
            [style.border-right]="styleRightBorder(co)"
            [style.border-top]="styleTopBorder(ro)"
            [style.border-bottom]="styleBottomBorder(ro)"
            [style.width]="cpx + 'px'"
            [style.height]="cpx + 'px'"
            *ngIf="board.live[ro][co].isPencil ? true : false"
            (input)="onTypePencil($event)"
            [(ngModel)]="pencil"
            (click)="onClick_cell(ro, co)"
          >
          </textarea>
          <a
            *ngFor="
              let pencilRows of board.live[ro][co].pencil;
              let penRow = index
            "
          >
            <a
              *ngFor="
                let pencilCols of board.live[ro][co].pencil;
                let penCol = index
              "
            >
              <input
                id="pencilCell {{ penRow }}, {{ penCol }} of cell {{ ro }}, {{
                  co
                }}"
                type="text"
                maxlength="1"
                style="
                  text-align: center;
                  position: absolute;
                  pointer-events: none;
                  z-index: 5;
                  caret-color: transparent;
                  /* font-weight: bold; */
                  color: rgb(66, 65, 65);
                "
                (keypress)="onTypePencil($event)"
                [style.left]="co * cpx + (penCol * cpx) / 3 + 'px'"
                [style.top]="ro * cpx + (penRow * cpx) / 3 + 'px'"
                [style.width]="cpx / 3 + 'px'"
                [style.height]="cpx / 3 + 'px'"
                [style.border-width]="'0px'"
                [(ngModel)]="board.live[ro][co].pencil[penRow][penCol]"
                *ngIf="board.live[ro][co].isPencil ? true : false"
                [style.font-size]="'13px'"
                [style.background]="board.live[ro][co].bgColor"
                [style.border-left]="styleLeftBorderPencil(co, penCol)"
                [style.border-right]="styleRightBorderPencil(co, penCol)"
                [style.border-top]="styleTopBorderPencil(ro, penRow)"
                [style.border-bottom]="styleBottomBorderPencil(ro, penRow)"
              />
            </a>
          </a>
        </a>
      </div>
    </a>
  </div>
  <div class="col-4 col-s-4 rightColumn">
    <a class="rightColumnContentsAndroid" id="rightColumnContentsAndroid">
      <div
        class="col-xs-7"
        style="float: left; width: 70%; padding: 0px; padding-left: 5px;"
      >
        <div name="numberPad" style="margin-top: 3px;">
          <div
            class="rower"
            *ngFor="let dummy of ' '.repeat(3).split(''); let x = index"
          >
            <button
              type="button"
              *ngFor="let dummy2 of ' '.repeat(3).split(''); let y = index"
              (click)="onClick_numberBtn(y + x * 3 + 1)"
              [style.border]="'1px solid gray'"
              [style.height]="'85px'"
              [style.width]="'85px'"
              [style.font-size]="'30px'"
              [style.hover]="'lightgray'"
            >
              {{ y + x * 3 + 1 }}
            </button>
          </div>
        </div>
      </div>
      <div
        class="col-xs-5"
        style="float: left; width: 30%; padding: 0px; padding-top: 3px;"
      >
        <div class="buttonObj">
          <button
            type="button"
            id="newGame"
            class="btn btn-primary btn-lg font-weight-bold;"
            style="background: rgb(0, 150, 255);"
            (click)="newGame.resetGame()"
            [style.border-radius]="'1px'"
            [style.width]="'108px'"
          >
            Restart
          </button>
        </div>

        <div class="buttonObj">
          <button
            type="button"
            style="margin-top: 20px;"
            class="btn btn-primary btn-lg font-weight-bold"
            style="background: orange;"
            (click)="erase()"
            [style.border-radius]="'0px'"
            [style.width]="'108px'"
          >
            Erase
          </button>
        </div>

        <div class="buttonObj">
          <button
            type="button"
            class="btn btn-primary btn-lg font-weight-bold"
            style="background: orangered;"
            (click)="hintSudokuCom()"
            [style.border-radius]="'0px'"
            [style.width]="'108px'"
          >
            Hint
          </button>
        </div>

        <div name="line3btns">
          <a class="buttonObj">
            <button
              type="button"
              class="btn btn-primary btn-lg font-weight-bold"
              style="background: gray;"
              (click)="showErrors_btn()"
              [style.border-radius]="'0px'"
              [style.width]="'108px'"
            >
              Rule Ex
            </button>
          </a>
          <a class="buttonObj">
            <button
              type="button"
              class="btn btn-primary btn-lg text-center font-weight-bold center"
              style="background: dodgerblue;"
              (click)="togglePencil()"
              [style.border-radius]="'0px'"
              [style.width]="'108px'"
              [style.background]="
                board.live[board.sRow][board.sCol].isPencil ? 'yellow' : 'white'
              "
            >
              Notes
            </button>
          </a>
        </div>
      </div>
    </a>
    <a class="rightColumnContents" id="rightColumnContents">
      <div class="buttonObj">
        <button
          type="button"
          id="newGame"
          class="btn btn-primary btn-lg text-center font-weight-bold"
          style="
            background: rgb(0, 150, 255);
            text-align: center;
            font-family: Source Sans Pro, sans-serif;
            font-weight: 600;
          "
          (click)="newGame.resetGame()"
          [style.border-radius]="'5px'"
          [style.width]="'225px'"
        >
          New Game
        </button>
      </div>
      <div name="numberPad" style="margin-top: 3px;">
        <div
          class="rower"
          *ngFor="let dummy of ' '.repeat(3).split(''); let x = index"
        >
          <button
            type="button"
            *ngFor="let dummy2 of ' '.repeat(3).split(''); let y = index"
            (click)="onClick_numberBtn(y + x * 3 + 1)"
            [style.border]="'1px solid gray'"
            [style.height]="'75px'"
            [style.width]="'75px'"
            [style.font-size]="'31px'"
            [style.hover]="'lightgray'"
            [style.font-family]="'Sans-serif'"
          >
            {{ y + x * 3 + 1 }}
          </button>
        </div>
      </div>
      <div name="line2btns" style="margin-top: 5px;">
        <a class="buttonObj">
          <button
            type="button"
            style="color: black;"
            class="btn btn-primary btn-lg text-center center text-align: center;"
            (click)="erase()"
            [style.border-radius]="'5px'"
            [style.width]="'112px'"
          >
            Erase
          </button>
        </a>

        <a class="buttonObj">
          <button
            type="button"
            class="btn btn-primary btn-lg text-center font-weight-bold center text-align: center;"
            style="background: white; margin-left: 1px; color: black;"
            (click)="hintSudokuCom()"
            [style.border-radius]="'5px'"
            [style.width]="'112px'"
          >
            Hint
          </button>
        </a>
      </div>
      <div name="line3btns" style="margin-top: 1px;">
        <a class="buttonObj">
          <button
            type="button"
            class="btn btn-primary btn-lg text-center font-weight-bold center"
            style="background: white; color: black;"
            (click)="showErrors_btn()"
            [style.border-radius]="'5px'"
            [style.width]="'112px'"
          >
            Examine
          </button>
        </a>
        <a class="buttonObj" style="width: 112px; position: relative;">
          <button
            type="button"
            class="btn btn-primary btn-lg text-center font-weight-bold center"
            style="
              margin-left: 1px;
              position: absolute;
              z-index: 5;
              pointer-events: none;
              color: black;
            "
            (click)="togglePencil()"
            [style.border-radius]="'5px'"
            [style.width]="'112px'"
            [style.background]="
              !board.live[board.sRow][board.sCol].isPencil
                ? 'white'
                : 'rgb(0, 150, 255)'
            "
            [style.color]="
              !board.live[board.sRow][board.sCol].isPencil ? 'black' : 'white'
            "
          >
            Notes
          </button>
          <textarea
            type="text"
            style="
              position: absolute;
              margin-left: 1px;
              width: 112px;
              overflow: hidden;
            "
            [(ngModel)]="pencilButtonText"
            (input)="onTypePencil($event)"
            (click)="togglePencil()"
            [style.border-radius]="'5px'"
          ></textarea>
        </a>
      </div>
      <div style="margin-top: 1px;">
        <a class="buttonObj">
          <button
            type="button"
            class="btn btn-primary btn-lg text-center center"
            style="background: white; color: black;"
            (click)="testPencil()"
            [style.border-radius]="'5px'"
            [style.width]="'112px'"
          >
            Testpencil
          </button>
        </a>
      </div>
    </a>
  </div>
  <!-- <div id="devColumnAndroid" class="col-2 col-s-2 devColumnAdroid">
    <div class="testBtns" id="testButtons">
      <p style="font-weight: bold; color: blueviolet;">test aid</p>
      <button type="button" (click)="scanForErrors()">
        {{ scanButtonName }}
      </button>
      <button type="button" (click)="togglePathHighlight()">
        {{ userPref.highlightPath_name }}
      </button>
      <button type="button" (click)="toggleSplitBoard()">
        {{ splitBtnName }}
      </button>
      <button type="button" (click)="solveSudoku(board.live, 9)">Solve</button>
      <button type="button" (click)="classic_colors()">Classic colors</button>
      <button type="button" (click)="toggle_boardPresetInputs_isDisabled()">
        toggle disabled
      </button>
      <button type="button" (click)="toggle_isShowDisabledAsBold()">
        unbold/bold readonly
      </button>
      <button type="button" (click)="saveSudoku('234289')">
        save sudoku
      </button>
      <button type="button" (click)="printSudoku()">
        print sudoku
      </button>
    </div>
  </div> -->
</div>

<!-- <div class="rower"></div> -->
