<app-header (featureSelected)="onNavigate($event)"></app-header>
<app-gamePage *ngIf="loadedFeature === 'SudokuV1'"></app-gamePage>
<app-leaderboards *ngIf="loadedFeature !== 'SudokuV1'"></app-leaderboards>

<script>
  document.addEventListener("keypress", function ($event) {
    if (event.keyCode == 13) {
      alert("You just hit enter.");
      testLeft = testLeft - 10;
    } else if (event.keyCode == 65) {
      alert("You just press A.");
      testLeft = testLeft - 10;
    } else if (event.keyCode == 97) {
      testLeft = testLeft - 10;
    } else {
      alert("You press something other than A, a and ENTER key");
    }
  });
</script>
